### CreaAI ###
CREWAI_TRACING_ENABLED=true

### Gemini ###
GEMINI_API_KEY=

### OpenAI ###
OPENAI_API_KEY=
OPENAI_MODEL=

### VectorDB API ###
REQUEST_URL=http://localhost:8282/api/search

### DATABASE ###
DATABASE_URL=postgresql://dev:@localhost:5432/crew_results

### Email Info ###
EMAIL_API_BASE_URL=http://localhost:8181/api/emails
SENDER_EMAIL=documentAnalist@crew.com
WEBHOOK_BASE_URL=http://localhost:8000/webhook
SENDER_ROLE=AGENT

### AgentOps ###
AGENTOPS_API_KEY=